name: GitHub Actions CI

on:
  pull_request:
  push:
    branches:
      - master

env:
  HOMEBREW_DEVELOPER: 1
  HOMEBREW_NO_AUTO_UPDATE: 1

jobs:
  cancel_previous_runs:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: n1hility/cancel-previous-runs@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-14]

    steps:
    - name: Set up Homebrew
      uses: Homebrew/actions/setup-homebrew@master

    - run: brew test-bot --skip-recursive-dependents
